

{% extends 'pages/base.jinja' %}


{% block content %}

<h2>List of Messages</h2>

    <section id="messages">

        {% for message in messages %}

            <div class="message">
                <h3>{{ message.title }}</h3>
                <p>Text:{{ message.body }}</p>
            </div>

        {% else %}

            <p>No Messages!</p>

        {% endfor %}

    </section>

{% endblock %}

