{#=====================================================
  Help page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <form method="post" action="/message">
      <h3>New Message</h3>

      <label>
          Title
          <input name="title" type="text" placeholder="e.g. Jerry" required>
      </label>

      <label>
          Body
          <textarea name="body" placeholder="e.g. I dont like him" required></textarea>
      </label>

      <button>Add Message</button>
  </form>

{% endblock %}

