{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>List of Messages</h2>

    <section id="messages-list">

   
        {% for message in messages %}

            <div class="message-item">
                <h3>{{ message.title }}</h3>
                <p>{{ message.body }}</p>
                <p>Posted by: {{ message.forename }}</p>


                {% if session.logged_in and message.uid == session.user.id %}
                    <button id="message-button"><a href="/message/delete/{{ message.mid }}" onclick="return confirm('Are you sure?');">Delete</a></button>
                    <button id="message-button"><a href="/message/edit/{{ message.mid }}">Edit</a></button>
                {% endif %}
            </div>
           
               
        {% else %}

            <p>No messages!</p>

        {% endfor %}

    </section>

{% endblock %}
