

{% extends 'pages/base.jinja' %}


{% block content %}

<h2>List of Messages</h2>

    <section id="messages-list">

        {% for message in messages %}

            <div class="message-item">
                <h3>{{ message.title }}</h3>
                <p>{{ message.body }}</p>
                <footer>
                    <a href="/delete/{{ message.id }}" onclick="return confirm('Really delete?');">Delete</a>
                </footer>
            </div>

        {% else %}

            <p>No Messages!</p>

        {% endfor %}

    </section>

{% endblock %}

