/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --base-col:         #3f8383;
    --accent-col:       #e43;

    --base-col-lighter: color-mix(in srgb, var(--base-col), #fff 50%);
    --base-col-light:   color-mix(in srgb, var(--base-col), #fff 20%);
    --base-col-dark:    color-mix(in srgb, var(--base-col), #000 20%);
    --base-col-darker:  color-mix(in srgb, var(--base-col), #000 50%);

    --text-col:         #244;
    --text-col-inv:     #fff;

    --page-bg:          var(--base-col-lighter);
    --panel-bg:         var(--base-col-light);

    --border-col:       var(--base-col-dark);
    --border-radius:    0.5rem;
    --drop-shadow:      0 0.5rem 1rem #0000;

    --link-col:         var(--accent-col);

    --button-bg:        var(--accent-col);
    --button-bg:        var(--text-col-inv);
    
    --padding:          1rem;
    --padding-rm:       1rem;

    --gap:              2rem;

    --content-width:    60rem;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--page-bg);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: var(--padding);
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--padding);

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: var(--gap);

        a {
            color: var(--link-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 5rem;
    text-align: center;
    margin-block: 5rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}

/* Form List --------------------------------------------------- */

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;

    max-width: 30rem;
    margin-inline: auto;
    padding: var(--padding);

    background-color: var(--panel-bg);
    border: 1px solid var(--border-col);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);

    label {
        width: 100%;

        input {
            width: 100%;
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
        }
    }

    button {
        background-color: var(--accent-col);
        color: var(--text-col-inv);
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        margin-top: 1rem;
    }
}


/* Creature List --------------------------------------------------*/

#users {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .user {
        padding: 1rem;

        background-color: var(--back-col-dark);
        border: 2px solid var(--border-col);
        border-radius: 0.5rem;

        h3 {
            color: var(--accent-col);
        }
    }
}


